.viewer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  .model-selector {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}
